*{
    --color-primary: #E12;
    --color-secondary: #18E;
    --color-background: #FFF;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
}
/* HEADER */

header{
    background-color: var(--color-primary);
    width: 100%;
}

.header__nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header__nav li{
    list-style: none;
    margin: 9px;
}

.header__nav a{
    color: var(--color-background);
    display: inline-block;
    padding: 6px 9px;
}

.nav__list {
    margin: 0;
    padding: 0;
}

.item__link {
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

/* MAIN */

main{
    padding: 10px 20px;
}